[submodule "graphematic-parser"]
	path = graphematic-parser
	url = ../graphematic-parser.git
[submodule "morphological-structures"]
	path = morphological-structures
	url = ../morphological-structures.git
[submodule "jmorfsdk"]
	path = jmorfsdk
	url = ../jmorfsdk.git
[submodule "gama"]
	path = gama
	url = ../gama.git
[submodule "rules-for-compatibility"]
	path = rules-for-compatibility
	url = ../rules-for-compatibility.git
[submodule "ambiguity-words-filter"]
	path = ambiguity-words-filter
	url = ../ambiguity-words-filter.git
[submodule "syntactic-parser"]
	path = syntactic-parser
	url = ../syntactic-parser.git
[submodule "morphological-dictionary"]
	path = morphological-dictionary
	url = ../morphological-dictionary.git
[submodule "relationship-networks"]
	path = relationship-networks
	url = https://github.com/jalexpr/relationship-networks
